
@model MySample.Model.Person

@{
    ViewBag.Title = "AddPerson";
}

<div class="row">
    <div class="col-md-2">
        Create new person
    </div>
    </div>
@using (Html.BeginForm("AddPerson", "Person", FormMethod.Post, new {id="AddPerson" }))
{
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m=>m.FirstName)
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.FirstName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m=>m.LastName)
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.LastName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m=>m.HireDate)
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.HireDate)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m=>m.EnrollmentDate)
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.EnrollmentDate)
        </div>
    </div>
    <div class="col-md-2">
        <button type="submit">Click</button>
    </div>
} 


